### **Importing Required Libraries**

In [124]:
import pandas as pd
import matplotlib as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

### **Loading CSV Data and Creating Data Frame**

In [125]:
data = pd.read_csv(r'C:\Users\njain\OneDrive - Cal State Fullerton\SPRING 2024\CPSC 597 Project\Project\APMBSS\data\processed\weather data\weather_dataset_train.csv')

In [126]:
data.sample(10)

      is_day  cloud_cover  precipitation       mood
3890       1    60.716390       0.792468        Sad
4055       1     9.947540       1.113582        Sad
4529       1    91.855669       1.198415        Sad
275        0     9.933323       0.030856  Energetic
2457       0    39.781027       0.101533      Happy
2866       1    83.069401       0.040060       Calm
1834       0    13.270056       0.203378      Happy
2375       1    34.074433       0.025241      Happy
4512       0    34.740474       1.644838        Sad
722        1    10.211899       0.128315  Energetic

### **Vectorizing Data Using Map Function**

In [127]:
dict_mood = {
    'Energetic': 1,
    'Happy': 2,
    'Calm': 3,
    'Sad': 4
}

data['encoded_mood'] = data['mood'].map(dict_mood)
data.sample(10)

      is_day  cloud_cover  precipitation       mood  encoded_mood
3578       0    63.756874       0.049182       Calm             3
2836       0    44.406607       0.194267       Calm             3
836        1    22.067391       0.006361  Energetic             1
168        1    22.589846       0.129048  Energetic             1
3944       0    44.420327       0.923083        Sad             4
833        0     7.114842       0.112976  Energetic             1
1082       1     7.933702       0.120585  Energetic             1
2323       1    37.564072       0.197034      Happy             2
3421       0    72.387784       0.013372       Calm             3
4265       1    96.464568       1.057073        Sad             4

In [128]:
# Dividing data frame into features and target on which the model will fit
features = ['is_day', 'cloud_cover', 'precipitation']
target = ['encoded_mood']

X = data[features]
y = data[target]

In [129]:
X.sample(10)

      is_day  cloud_cover  precipitation
44         0    19.825689       0.008704
797        0     8.100597       0.104609
363        1    18.281461       0.079575
3482       1    71.215021       0.130596
809        0    21.246010       0.148169
2109       0    37.462666       0.113522
1489       1    27.687197       0.115734
3299       0    23.250444       0.503400
2881       1    52.287982       0.227713
353        1     3.611266       0.050128

In [130]:
y.sample(10)

      encoded_mood
358              1
2421             2
2822             3
1279             2
4178             4
1467             2
2086             2
3158             3
3839             4
2523             3

### **Vectorizing Test Data Using Map Function and Dividing into X_train and y_test**

In [132]:
# Loading test dataset using pandas
test_data = pd.read_csv(r'C:\Users\njain\OneDrive - Cal State Fullerton\SPRING 2024\CPSC 597 Project\Project\APMBSS\data\processed\weather data\weather_dataset_test.csv')

# Encoding mood using map() function to vectorize
test_data['encoded_mood'] = test_data['mood'].map(dict_mood)

X_test = test_data.drop('encoded_mood', axis=1)
X_test = X_test.drop('mood', axis=1)

In [133]:
# Viewing test data
X_test.sample(10)

      is_day  cloud_cover  precipitation
1376       1    26.256737       0.392819
501        1    17.548523       0.174228
2          1    16.872149       0.070338
1804       0    56.446548       1.428434
704        1    23.672155       0.153380
602        0    27.878583       0.037705
1281       1     2.978300       0.295449
1084       1    27.280834       0.271978
655        0    30.261774       0.023500
1696       1    14.811153       0.936209

In [134]:
y_test = test_data['encoded_mood']

In [135]:
# Viewing the y_test
y_test

0       1
1       1
2       1
3       1
4       1
       ..
1995    4
1996    4
1997    4
1998    4
1999    4
Name: encoded_mood, Length: 2000, dtype: int64

### **Creating and Training the RandomForestClassifier**

In [136]:
# Creating random forest classifier object
rf = RandomForestClassifier(n_estimators=20, max_depth=10)

In [137]:
# Fitting the training data on random forest classifier
rf.fit(X, y)

c:\Users\njain\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestClassifier(max_depth=10, n_estimators=20)

### **Predicting the Accuracy**

In [138]:
y_pred = rf.predict(X_test)

In [139]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)

In [141]:
accuracy

0.9975

### **Predicting Mood on Random Value**

In [178]:
# 'is_day, cloud_cover, precipitation'
test_random_value = [0, 50, 0.0]

def get_key_from_value(dict_mood, predicted_mood_EncodedValue):
    for key, value in dict_mood.items():
        if value == predicted_mood_EncodedValue:
            return key
    # If the value is not found, you can handle it accordingly
    return None

predicted_mood_EncodedValue = rf.predict([test_random_value])[0]
predicted_mood = get_key_from_value(dict_mood, predicted_mood_EncodedValue)
print(predicted_mood)

Happy

c:\Users\njain\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(